.Layout {
  text-align: center;
  background-color: blue;
}

.Layout > .Counter {
  background-color: red;
  color: rgb(154, 255, 221);
}

.Header {
  background-color: purple;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.Nav {
  background-color: red;
}
.Subsolu {
  background-color: red;
  color: white;
  padding: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
