.BooksTable {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;

    tr:nth-child(even) {
        background: lightgrey;
    }

    tr:hover {
        background-color: darken($color: white, $amount: 9);
    }
    
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: lighten($color: #D9FB84, $amount: 9);
        color: black;
    }

}
.submit-btn {
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background: #D9FB84;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.submit-btn:hover {
    background: darken($color: #D9FB84, $amount: 9);
}

.form-input {
    border-radius: 10px;
    width: 200px;
    height: 40px;
}

.genres-input {
    padding-right: 20px;
}
.title-input {
    padding-right: 34px;
}