$orange: #e5cb82;
$base: #565656;
$fontSize: 40px;

@mixin colorWhite() {
  color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    
    h1 {
        font-size: $fontSize;
    }

    .button {
        border: none;
        padding: 5px;
        margin-top: 5px;
        border-radius: 10px;
        width: 50%;
        background-color: $orange;
        font-size: 20px;
        @include colorWhite();
        transition: background-color 0.2s ease-in-out;
        text-transform: lowercase;

        &:hover {
        cursor: pointer;
        background-color: darken($color: $orange, $amount: 9);
        }
    }

    .login-input{
        width:70%;
        background-color: inherit;
        border: none;
        border-bottom: 1px solid dimgray;
    }
}
