#container {
  background-color: brown;
  font-family: "Gill Sans", sans-serif;
  width: 800px;
  display: inline-block;
}

footer {
  width: 800px;
  background-color: chartreuse;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
}

#main {
  background-color: blue;
  width: 600px;
  display: inline-block;
}

nav {
  font-family: "Lucida Console", monospace;
  background-color: yellow;
  width: 180px;
  display: inline-block;
}

tr:nth-child(even) {
  background: grey;
}

tr:nth-child(odd) {
  background: green;
}
